In [24]:
import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')

In [25]:
df1 = pd.read_csv(r"D:/Sumanth/datasets/data_dictionary .csv")

In [26]:
df1

             Field Possible Values                                 Comments
0           fsa_id             int  Food Standard Agency's ID for this pub.
1             name          string                         Name of the pub.
2          address          string      Address fields separated by commas.
3         postcode          string                     Postcode of the pub.
4          easting             int                                      NaN
5         northing             int                                      NaN
6         latitude         decimal                                      NaN
7        longitude         decimal                                      NaN
8  local_authority          string    Local authority this pub falls under.

In [27]:
df2 = pd.read_csv(r"D:/Sumanth/datasets/open_pubs.csv")

In [28]:
df2

,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
3,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh
4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
...,...,...,...,...,...,...,...,...,...
51325,597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
51326,597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
51327,597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
51328,597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
51329,597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [29]:
df3 = df1.T

In [30]:
df3

,0,1,2,3,4,5,6,7,8
Field,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
Possible Values,int,string,string,string,int,int,decimal,decimal,string
Comments,Food Standard Agency's ID for this pub.,Name of the pub.,Address fields separated by commas.,Postcode of the pub.,NaN,NaN,NaN,NaN,Local authority this pub falls under.

In [31]:
df3.loc['Field']

0             fsa_id
1               name
2            address
3           postcode
4            easting
5           northing
6           latitude
7          longitude
8    local_authority
Name: Field, dtype: object

In [32]:
df2.columns = df3.loc['Field']

In [33]:
df2

Field,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
3,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh
4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
...,...,...,...,...,...,...,...,...,...
51325,597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
51326,597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
51327,597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
51328,597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
51329,597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51330 entries, 0 to 51329
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           51330 non-null  int64
 1   name             51330 non-null  object
 2   address          51330 non-null  object
 3   postcode         51330 non-null  object
 4   easting          51330 non-null  int64
 5   northing         51330 non-null  int64
 6   latitude         51330 non-null  object
 7   longitude        51330 non-null  object
 8   local_authority  51330 non-null  object
dtypes: int64(3), object(6)
memory usage: 3.5+ MB

In [35]:
df2.replace("\\N", np.nan, inplace=True)

In [36]:
df2.isna().sum()

Field
fsa_id               0
name                 0
address              0
postcode             0
easting              0
northing             0
latitude           767
longitude          767
local_authority      0
dtype: int64

In [37]:
df2.dropna(axis=0, how='any',inplace=True)

In [38]:
df2['latitude']=df2['latitude'].astype(float)
df2['longitude']=df2['longitude'].astype(float)

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50563 entries, 0 to 51329
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           50563 non-null  int64
 1   name             50563 non-null  object
 2   address          50563 non-null  object
 3   postcode         50563 non-null  object
 4   easting          50563 non-null  int64
 5   northing         50563 non-null  int64
 6   latitude         50563 non-null  float64
 7   longitude        50563 non-null  float64
 8   local_authority  50563 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 3.9+ MB

In [40]:
df2

Field,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
5,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
6,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh
...,...,...,...,...,...,...,...,...,...
51325,597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
51326,597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
51327,597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
51328,597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
51329,597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [41]:
df2.reset_index(inplace=True)

In [42]:
df2

Field,index,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
3,5,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
4,6,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh
...,...,...,...,...,...,...,...,...,...,...
50558,51325,597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
50559,51326,597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
50560,51327,597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
50561,51328,597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
50562,51329,597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [43]:
df2.drop('index',axis=1,inplace=True)

In [44]:
df2

Field,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
3,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
4,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh
...,...,...,...,...,...,...,...,...,...
50558,597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
50559,597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
50560,597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
50561,597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
50562,597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [45]:
df2.to_csv(r"D:/Sumanth/datasets/new_pub.csv")